// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors

$white: #ffffff;

$blue: #1E96D4;
$light-blue: #66BEEB;


$gray: #EEEFF2;
$dark-gray: #B6BCC6;
$light-gray: #D8DCE0;
$ash-gray: #D2D2D7;

$ligher-gray: #F5F5F7;

$light-black: #6B7280;

$black: #111111;

$red: #CB253C;

$normal-font: Circular-Book;
$normal-weight: 400;

$medium-font: Circular-Medium;
$medium-weight: 500;

$bold-font: Circular-Bold;
$bold-weight: 700;

