@charset "UTF-8";

/*
* Author: Lawrence Chibondo
*/



/*FONTS*/

@mixin font-face($font-name, $path) {
  	@font-face {
		font-family: quote($font-name);
		src: url($path+".woff");
		src: url($path+".eot?#iefix") format("embedded-opentype"), url($path+".eot")
		format("woff"), url($path+".ttf") format("truetype"), url($path+".svg##{$font-name}")
		format("svg");
	}
}

@include font-face(Circular-Book, "/fonts/CircularStd-Book");
@include font-face(Circular-Medium, "/fonts/CircularStd-Medium");
@include font-face(Circular-Bold, "/fonts/CircularStd-Bold");



/*VARIABLES*/
@import 'variables';

/*BOOTSTRAP GRID*/
@import 'bootstrap-grid';

/*UTILS*/
@import 'utils';


/*PAGE LOADER*/
@import 'loader';


/*HEADER*/
@import 'header';

/*SLIDER*/
@import 'slider';

/*PRO FEATURES*/
@import 'pro-features';

/*CONTENT*/
@import 'content';

/*TAB*/
@import 'tab';

/*OPTIONS*/
@import 'options';

/*SPECS*/
@import 'specs';

/*FOOTER*/

@import 'footer';



/*MOBILE*/
@import 'mobile';

/*TABLET*/
@import 'tablet';

/*LARGE DEVICE*/
@import 'large';

